<template>
  <a-card style="background-color: #f1f1f1; border-radius: 20px">
    <template #cover>
      <img
        alt="example"
        src="../assets/profile_cv.jpg"
        style="
          max-width: 100%;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
        "
      />
    </template>
    <a-card-meta title="Nguyen Van Phuong">
      <template #description>
        <div class="position">Web Developer</div>
        <div class="email">
          <a href="mailto:vanphuong131401@gmail.com"
            >vanphuong131401@gmail.com</a
          >
        </div>
        <div class="linkedin">
          <a href="https://www.linkedin.com/in/ray-david-3302281b9/"
            >https://www.linkedin.com/in/ray-david-3302281b9/</a
          >
        </div>
      </template>
    </a-card-meta>
  </a-card>
</template>
