<script>
import { defineComponent, reactive } from "vue";
import _ from "lodash";

export default defineComponent({
  name: "todo-list",
  props: {
    todos: Object,
  },
  emits: ["checkToDone", "removeTodo"],
  setup(props, { emit }) {
    const checkToDone = (index) => {
      emit("checkToDone", index);
    };
    const removeTodo = (index) => {
      emit("removeTodo", index);
    };
    return {
      lodash: _,
      checkToDone,
      removeTodo,
    };
  },
});
</script>
<template>
  <h2>ToDo List</h2>
  <ul class="todo-list">
    <template v-for="(todo, index) in todos" :key="index">
      <li :class="todo.status">
        <div class="todo-item">
          <div class="content" style="word-break: break-word">
            <h3 style="margin-bottom: 7px">Content:</h3>
            <div class="title" v-html="todo.content"></div>
          </div>
          <div class="due-date">
            <h3 style="margin-bottom: 7px">Expired :</h3>
            <span
              ><p>{{ todo.dueDate }}</p></span
            >
            <h3 style="margin-block: 7px">Status :</h3>
            <span
              ><p>{{ lodash.upperFirst(todo.status) }}</p></span
            >
          </div>
        </div>
        <a-space>
          <button
            v-if="todo.status != 'expired'"
            @click="checkToDone(index)"
            class="btn"
          >
            {{ todo.status == "doing" ? "Done" : "Undo" }}
          </button>
          <a-popconfirm
            title="Are you sure delete this task?"
            ok-text="Yes"
            cancel-text="No"
            @confirm="removeTodo(index)"
          >
            <button class="btn">Remove</button>
          </a-popconfirm>
        </a-space>
      </li>
    </template>
  </ul>
  <a-empty v-if="todos === 0" description="Empty list." />
</template>
