$border: 2px solid
  rgba(
    $color: white,
    $alpha: 0.35,
  );
$size1: 6px;
$size2: 12px;
$size3: 18px;
$size4: 24px;
$size5: 48px;
$backgroundColor: #27292d;
$textColor: white;
$primaryColor: #a0a4d9;
$secondTextColor: #1f2023;
body {
  margin: 0;
  padding: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $backgroundColor;
  color: $textColor;
  #app {
    margin-left: auto;
    margin-right: auto;
    padding: 35px;
    .todo-item {
      display: grid;
      grid-template-columns: 1fr minmax(0, 140px);
      align-items: center;
      gap: 35px;
      padding-inline: 15px;
      justify-content: space-between;
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: $textColor;
      }
      .due-date {
        min-width: 200px;
      }
      .title {
        max-height: 120px;
        overflow-y: auto;
        padding-left: 10px;
        max-width: 350px;
        word-wrap: break-word;
      }
    }
    h1 {
      font-weight: bold;
      font-size: 28px;
      text-align: center;
      color: $textColor;
    }
    form {
      display: flex;
      flex-direction: column;
      width: 100%;
      label {
        font-size: 14px;
        font-weight: bold;
        color: $textColor;
      }
      // input,
      button.btn {
        height: $size5;
        box-shadow: none;
        outline: none;
        padding-left: $size2;
        padding-right: $size2;
        border-radius: $size1;
        font-size: 18px;
        margin-top: $size1;
        margin-bottom: $size2;
      }
      input {
        background-color: transparent;
        border: $border;
        color: inherit;
      }
    }
    button.btn {
      cursor: pointer;
      background-color: $primaryColor;
      border: 1px solid $primaryColor;
      color: $secondTextColor;
      font-weight: bold;
      outline: none;
      border-radius: $size1;
      transition: all 0.3s ease;
      &:hover {
        // color: $textColor;
        background-color: #f1f1f1;
        border: 1px solid #f1f1f1;
      }
    }
    h2 {
      font-size: 22px;
      border-bottom: $border;
      padding-bottom: $size1;
      color: $textColor;
    }
    ul {
      padding: 10px;
      max-height: 550px;
      overflow-y: auto;
      li {
        display: grid;
        grid-template-columns: 1fr 110px;
        justify-content: space-between;
        align-items: center;
        border: $border;
        padding: $size2 $size4;
        border-radius: $size1;
        margin-bottom: $size2;
        &.expired {
          background-color: rgb(236, 89, 89);
        }
        &.done {
          background-color: rgb(90, 192, 90);
        }
        &.expired,
        &.done {
          .btn {
            background-color: #fff;
            &:hover {
              background-color: $primaryColor;
              border: 1px solid $primaryColor;
              color: $secondTextColor;
            }
          }
        }
        button {
          font-size: $size2;
          padding: $size1;
        }
      }
    }
    h4 {
      text-align: center;
      opacity: 0.5;
      margin: 0;
    }
    .container {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 30px;
      margin: 0 auto;
      @media screen and (min-width: 800px) {
        max-width: 768px;
      }
      @media screen and (min-width: 1024px) {
        max-width: 992px;
      }
      @media screen and (min-width: 1440px) {
        max-width: 1170px;
      }
      @media screen and (max-width: 991px) {
        grid-template-columns: 200px 1fr;
        .todo-item {
          display: block;
        }
        .due-date {
          padding-top: 15px;
        }
      }
      @media screen and (max-width: 767px) {
        max-width: 100%;
        grid-template-columns: 100%;
        padding-inline: 15px;
      }
      @media screen and (max-width: 460px) {
        .todo-list {
          li {
            display: block;
            .btn {
              width: 100%;
            }
          }
        }
        .ant-picker-datetime-panel {
          display: block;
        }
      }
    }
    .tox.tox-tinymce {
      border-radius: 6px;
      border: 2px solid rgba(255, 255, 255, 0.35);
    }
  }
}
#footer {
  .footer-inner {
    padding: 25px;
    text-align: center;
  }
}
@media screen and (max-width: 460px) {
  .ant-picker-datetime-panel {
    display: block;
  }
}
