<script>
import AuthorInfo from "./components/AuthorInfo.vue";
import TodoComponent from "./components/TodoComponent.vue";
import Editor from "@tinymce/tinymce-vue";

export default {
  name: "App",
  components: {
    AuthorInfo,
    TodoComponent,
    Editor,
  },
};
</script>
<template>
  <div class="container">
    <div class="author-info"><AuthorInfo /></div>
    <TodoComponent />
  </div>
  <footer id="footer">
    <div class="footer-inner">Copyright © 2023 Van Phuong.</div>
  </footer>
</template>
